.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(185, 210, 247, 0.486);
    text-align: center;
    border-radius:20px;
    border: 1px;
    margin: 0px 100px 0px 100px;
      
  }

head {
    background-color: black;
}